@model ShareCar.Models.CarHomeModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Lý Phương Tiện</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center my-4">Quản Lý Phương Tiện</h2>
        @if (TempData["SuccessCarManager"] != null)
        {
            <div class="alert alert-success text-center">
                @TempData["SuccessCarManager"]
            </div>
        }
        @*<form method="get" class="mb-3">
         <div class="input-group">
                <input type="text" name="searchString" class="form-control" placeholder="Tìm kiếm theo ID hoặc Model" />
                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>

            </div>
            <div class="row-g3">
                <!-- Dropdown chọn Thuê Xe/Mua Xe -->
                <div class="col">
                    <label for="OptionSelect" class="form-label">Loại bài viết:</label>
                    <select name="Option" id="OptionSelect" class="form-select">
                        <option value="default">Tất cả</option>
                        <option value="Thuê xe">Thuê xe</option>
                        <option value="Mua xe">Mua xe</option>
                    </select>
                </div>
                <div class="col">
                    <label for="days" class="form-label">Ngày Đăng Tải</label>
                    <select name="days" class="form-select">
                        <option value="Tất cả thời gian">Tất cả thời gian</option>
                        <option value="Hôm nay"> Hôm nay </option>
                        <option value="1 ngày trước"> 1 ngày trước</option>
                        <option value="3 ngày trước">3 ngày trước</option>
                        <option value="7 ngày trước">7 ngày trước</option>
                        <option value="1 tháng trước">1 tháng trước</option>
                        <option value="1 năm trước">1 năm trước</option>
                    </select>
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                <a asp-action="CarManager" class="btn btn-secondary">Tất cả</a>
            </div>
        </form> *@

        <div class="mb-3">
            <a asp-action="NewCar" class="btn btn-primary">Thêm Phương Tiện</a>
        </div>
        <div>
            <div>
                @Html.Partial("/Views/Admin/Car/CarShareManager.cshtml", Model.CarShareManager)
            </div>
            <div>
                @Html.Partial("/Views/Admin/Car/CarSellManager.cshtml", Model.CarSellManager)
            </div>
        </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>
