@model ShareCar.Models.CarHomeModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xe dành cho bạn</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    @if(Context.Session.GetString("UserID") == null){
        <div class="text-center">
        <h1 class="display-4 fw-bold">Chào mừng đến với ShareCar</h1>
        <p class="lead">Trang web hỗ trợ chia sẻ phương tiện giao thông một cách tiện lợi và an toàn.</p>
        <a asp-controller="User" asp-action="Login" class="btn btn-primary btn-lg mt-3">Bắt đầu ngay</a>
    </div>
    }
    
    <div class="container mt-5">
        <div>
            <!-- Gọi PartialView xe cho thuê -->
            @Html.Partial("CarShare",Model.CarShare)
        </div>
        <div>
            @Html.Partial("CarSell",Model.CarSell)
        </div>
        
    </div>
</body>

