@model ShareCar.Models.CarHomeModel;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Lý Phương Tiện</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center my-4">Quản Lý Phương Tiện Chưa Duyệt</h2>

        @if (ViewBag.queue == true)
        {
            <div class="text-center">Hiện tại chưa có phương tiện nào cần duyệt</div>
        }
        else
        {
            <div>
                <div>
                    @Html.Partial("/Views/Home/Car/CarShareQueue.cshtml", Model.carShareQueues)
                </div>
                <div>
                    @Html.Partial("/Views/Home/Car/CarSellQueue.cshtml", Model.carSellQueues)
                </div>
            </div>
        }

    </div>



</body>

</html>