@model ShareCar.Models.Home.CarModel.CarSellQueue;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm mới xe</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Thêm xe bán mới</h2>
        <form asp-action="CarSellNew" method="post" enctype="multipart/form-data">
            <input asp-for="UserID" class="form-control" value="@Context.Session.GetInt32("UserID")" hidden="true" />
            <div class="mb-3">
                <label asp-for="Poster" class="form-label">Người đăng:</label>
                <input asp-for="Poster" class="form-control" value="@Context.Session.GetString("FullName")" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="SDT" class="form-label">Liên hệ: </label>
                <input asp-for="SDT" class="form-control" value="@Context.Session.GetString("SDT")" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LicensePlate" class="form-label">Biển số</label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Brand" class="form-label">Hãng xe</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Model" class="form-label">Mẫu xe</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Color" class="form-label">Màu sắc</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="mb-3" >
                <label asp-for="VehicleRegistration" class="form-label">Giấy tờ</label>
                <select asp-for="VehicleRegistration" class="form-select">
                    <option value="Đầy đủ">Đầy đủ</option>
                    <option value="Không đầy đủ">Không đầy đủ</option>
                </select>
                <span asp-validation-for="VehicleRegistration" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label">Mô tả</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="form-label">Địa chỉ cho thuê</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="SellPrice" class="form-label">Giá bán</label>
                <input asp-for="SellPrice" class="form-control" />
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>

             <div class="mb-3">
                <label class="form-label">Chọn ảnh:</label>
                <input name="imageFile" class="form-control" type="file" multiple />
            </div>

            <button type="submit" class="btn btn-primary">Thêm xe</button>
            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
        </form>
    </div>


</body>
</html>
